@font-face {
    font-family: Modak ;
    src: url("fonts/Modak/Modak-Regular.ttf");
}

@font-face {
    font-family: Karla-Regular ;
    src: url("fonts/Karla/Karla-Regular.ttf");
}

@font-face {
    font-family: Karla-Bold ;
    src: url("fonts/Karla/Karla-Bold.ttf");
}

.navbar-toggler span{
    width: 60px;
    height: 45px;
    color: #000000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand{
    font-family: "Modak";
    font-size: 80px;
    color: #000e14;
    padding: 0;
}

.navbar-brand:hover{
    color: #000e14;
}

.nav-item{
    padding: 5px 15px;
}

.nav-link{
    font-family: "Karla-Regular";
    font-size: 25px;
    color: #000e14;
}

.nav-link:hover{
    color: #000e14;
}

nav{
    background: rgb(179,150,55);
    background: linear-gradient(90deg, rgba(179,150,55,1) 0%, rgba(212,181,83,1) 50%, rgba(179,150,55,1) 100%);
}

.logo{
    font-family: "Modak";
    font-size: 90px;
    color: #000e14;
    text-align: center;
}

.top-bar{
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 35px;
    width: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.homepage-row{
    padding: 50px 0;
}

.second-home-section{
    padding: 75px 0;
}

.fa-beer, .fa-phone-volume, .fa-landmark{
    font-size: 200px;
    text-align: center;
    padding: 20px 0;
    color: #000e14;
}

.card-title{
    font-family: "Karla-Bold";
    font-size: 35px;
    color: #000e14;
    word-break: break-word;
    text-align: center;
}

.card-text{
    font-family: "Karla-Regular";
    font-size: 20px;
    color: rgb(179, 150, 55);
    margin-bottom: 5px;
}

.card-body{
    border-top: 1px solid rgba(0,0,0,.125);
}

.card-button{
    background-color: rgba(179, 150, 55, 0.4);
    color: #000e14;
    font-family: "Karla-Regular";
    border: none;
}

.card{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    min-height: 440px;
    height: 100%;
}

.card:hover{
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
}

.card-link:hover{
    text-decoration: none;
}

.logo{
    font-family: "Modak";
    font-size: 80px;
    color: #000e14;
    padding: 0;
    text-align: center;
}

.copyright{
    font-family: "Karla-Regular";
    font-size: 25px;
    color: #000e14;
    text-align: center;
}

footer{
    background: rgb(179,150,55);
    background: linear-gradient(90deg, rgba(179,150,55,1) 0%, rgba(212,181,83,1) 50%, rgba(179,150,55,1) 100%);
}


/*About*/
.about-us-section{
    padding: 75px 0;
}

.background-about-image{
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('images/new-bg-about.jpg');
    height: 385px;
}

.text-about h1{
    font-family: "Karla-Bold";
    font-size: 37px;
    color: #000e14;
    margin-bottom: 20px;
}

.text-about p{
    font-family: "Karla-Regular";
    font-size: 25px;
    color: #000e14;
}

.background-about-image-history{
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('images/background-history.jpg');
    height: 750px;
}

.about-us-section .row{
    margin-bottom: 90px;
}

.card-image-top-1 {
    background-image: url("images/first.jpg");
}

.card-image-top-2{
    background-image: url('images/second.jpg');
}

.card-image-top-3{
    background-image: url('images/third.png');
}

.card-image-top-4{
    background-image: url("images/fourth.jpg");
}

.card-image-top-5{
    background-image: url('images/fifth.jpg');
}

.card-image-top-6{
    background-image: url('images/sixth.jpg');
}

.card-image-top-7{
    background-image: url('images/seventh.jpg');
}

.card-image-top-8{
    background-image: url("images/eight.jpg");
}

.card-image-top-1,
.card-image-top-2,
.card-image-top-3,
.card-image-top-4,
.card-image-top-5,
.card-image-top-6,
.card-image-top-7,
.card-image-top-8
{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 250px;
}

.card-products{
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 20px;
}

.products-section{
    padding: 75px 0;
}

.card-products .card-text{
    cursor: pointer;
}

.background-package-img-1{
    background-image: url('images/beer-package-1.jpg');
}

.background-package-img-2{
    background-image: url("images/beer-package-2.jpg");
}

.background-package-img-3{
    background-image: url('images/beer-package-3.jpg');
}

.background-package-img-1,
.background-package-img-2,
.background-package-img-3{
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 200px;
}

.package-section{
    padding: 75px 0;
}

.package-section h1{
    font-family: "Karla-Bold";
    font-size: 37px;
    color: #000e14;
    margin-bottom: 20px;
    text-align: center;
}

.package-section .row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner-section{
    padding: 10px 0;
    text-align: center;
    background-color: rgba(179,150,55, 0.7);
}

.banner-section a{
    color: #000;
    font-weight: 800;
}

.banner-section a:hover{
    text-decoration: none;
}